## MongoDb Aggregate and Group

In [1]:
import pymongo
client = pymongo.MongoClient('mongodb://127.0.0.1:27017/')

mydb = client['Students']

collections = mydb.studentscores

In [2]:
data = [ 
    {"user":"Krish", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Krish",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95}] 

collections.insert_many(data)

In [5]:
# Total number of records
agg_result = collections.aggregate(
    [
        {
            '$group':{'_id':'$user',
                  'Total Subject':{'$sum':1}}
        }
    ]
)
for i in agg_result:
    print(i)

{'_id': 'Krish', 'Total Subject': 3}
{'_id': 'Amit', 'Total Subject': 3}

In [16]:
#Total score based on user
agg_scores = collections.aggregate(
    [
        {'$group':{'_id':'$user',
        'Total Marks':{'$sum':'$score'}}}
    ]
)
    
    
for i in agg_scores:
    print(i)

{'_id': 'Amit', 'Total Marks': 235}
{'_id': 'Krish', 'Total Marks': 250}

In [17]:
#Average score based on user
agg_result = collections.aggregate(
    [
        {
            '$group':{
                '_id':'$user',
                'AverageScore':{'$avg':'$score'}
            }
        }
    ]
)
for i in agg_result:
    print(i)

{'_id': 'Krish', 'AverageScore': 83.33333333333333}
{'_id': 'Amit', 'AverageScore': 78.33333333333333}

In [18]:
import datetime

In [20]:
### Create a new collection
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [21]:
data

[{'_id': 1,
  'item': 'abc',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2022, 1, 5, 15, 46, 45, 424868)},
 {'_id': 2,
  'item': 'jkl',
  'price': 20,
  'quantity': 1,
  'date': datetime.datetime(2022, 1, 5, 15, 46, 45, 424868)},
 {'_id': 3,
  'item': 'xyz',
  'price': 5,
  'quantity': 5,
  'date': datetime.datetime(2022, 1, 5, 15, 46, 45, 424868)},
 {'_id': 4,
  'item': 'abc',
  'price': 10,
  'quantity': 10,
  'date': datetime.datetime(2022, 1, 5, 15, 46, 45, 424868)},
 {'_id': 5,
  'item': 'xyz',
  'price': 5,
  'quantity': 10,
  'date': datetime.datetime(2022, 1, 5, 15, 46, 45, 424868)}]

In [22]:
mycollection = mydb['stores']

In [23]:
mycollection.insert_many(data)

In [26]:
# Average price and quantity
res = mycollection.aggregate(
    [
        {
            '$group':{
                '_id':'$item',
                'AvgPrice':{'$avg':{'$multiply':['$price','$quantity']}},
                'AvgQuantity':{'$avg':'$quantity'}
            }
        }
    ]
)
for i in res:
    print(i)

{'_id': 'abc', 'AvgPrice': 60.0, 'AvgQuantity': 6.0}
{'_id': 'jkl', 'AvgPrice': 20.0, 'AvgQuantity': 1.0}
{'_id': 'xyz', 'AvgPrice': 37.5, 'AvgQuantity': 7.5}

In [27]:
## project operator
data=[{
  "_id" : 1,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5
},
{
  "_id" : 2,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2
}
]

In [29]:
collection = mydb['Books']

In [30]:
collection.insert_many(data)

In [31]:
data

[{'_id': 1,
  'title': 'abc123',
  'isbn': '0001122223334',
  'author': {'last': 'zzz', 'first': 'aaa'},
  'copies': 5},
 {'_id': 2,
  'title': 'Baked Goods',
  'isbn': '9999999999999',
  'author': {'last': 'xyz', 'first': 'abc', 'middle': ''},
  'copies': 2}]

In [33]:
res = collection.aggregate(
    [
        {
            '$project':{'_id':0,'copies':1}
        }
    ]
)

for i in res:
    print(i)

{'copies': 5}
{'copies': 2}